---
layout: default
---

{% assign type = page.type %}

<div class="container">
    <h1>{{ page.title }}</h1>
    <div class="page-description">
        <p>{{ page.content }}</p>
    </div>

    <div class="row">
    {% case page.type %}
    {% when "datasets" %}
        {% for each in site.datasets %}
            {% if each.display == false %}
                {% continue %}
            {% else %}
            <div class="col-md-4">
                <div class="well">
                    {% if each.img %}
                        <div class="thumbnail">
                            <img src="/assets/img/{{each.img}}" alt="{{each.img-description}}" />
                        </div> 
                    {% endif %}
                    <h2><a href="{{each.permalink}}">{{each.title}}</a></h2>
                    <p>{{each.description}}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% when "projects" %}
        {% for each in site.projects %}
            {% if each.display == false %}
                {% continue %}
            {% else %}
            <div class="col-md-4">
                <div class="well">
                    {% if each.img %}
                        <div class="thumbnail">
                            <img src="/assets/img/{{each.img}}" alt="{{each.img-description}}" />
                        </div> 
                    {% endif %}
                    <h2><a href="{{each.permalink}}">{{each.title}}</a></h2>
                    <p>{{each.description}}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endcase %}
    </div>
</div>